/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}


/* HEADER & NAV */

header {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 350px;
    display: flex;
}

#copyright-social {
    background-color: #090b44;
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

#copyright {
    transform: rotate(-90deg);
    transform-origin: left;
    margin-left: 35px;
    width: 400px;
    color: #c0c0ce;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 0.7;
}

.social-media-nav a {
    border: 1px solid #c0c0ce;
    color: #c0c0ce;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    font-size: 15px;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    transition: all 0.5s;
}

.social-media-nav a:hover {
    background-color: #d65c45;
    color: #fff;
    border-color: transparent;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

#logo {
    background-color: #090b44;
    width: 70px;
    height: 70px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #c0c0ce;
    margin-bottom: 40px;
    transition: all 0.3s;
}

#logo:hover {
    color: #fff;
}

ul {
    list-style: none;
}

nav ul a {
    font-family: "Besley", serif;
    font-weight: 600;
    color: #090b44;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid transparent;
    margin-bottom: 10px;
}

.active {
    border-bottom: 1px solid rgb(238, 238, 238);
}

nav ul a:hover {
    border-bottom: 1px solid rgb(238, 238, 238);
}

#nav-button {
    padding: 15px;
    display: none;
}

/* MAIN */

main {
    margin-left: 350px;
    background-color: #fcf9f7;
    padding-top: 150px;
    z-index: 1;
    position: relative;
}

article,
.quote {
    max-width: 900px;
    margin: 80px auto;
}

.time-author {
    font-family: "Besley", serif;
    font-size: 13px;
    margin: 0 100px 20px;
}

time {
    color: #d65c45;
}

.author {
    color: #d65c45;
    font-weight: 600;
    display: inline-block;
}

.author::after {
    content: '';
    height: 1px;
    width: 0;
    background-color: #d65c45;
    display: block;
    transition: all 0.5s;
}

.author:hover::after {
    width: 100%;
}

h2 a {
    font-size: 65px;
    font-family: "Besley", serif;
    line-height: 1.1;
    font-weight: 600;
    display: block;
    margin: 0 100px 30px;
    transition: all 0.5s;
}

h2 a:hover {
    color: #d65c45;
}

.description {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    margin: 0 100px 40px;
    line-height: 1.7;
}

img {
    width: 100%;
}

.excerpt {
    margin: 0 100px 40px;
    padding: 40px;
    margin-top: -50px;
    background-color: #fcf9f7;
    position: relative;
}

.excerpt p {
    font-family: "Lora", serif;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.excerpt p a {
    color: #d65c45;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all 0.5s;
}

.excerpt p a::after {
    content: '';
    height: 1px;
    width: 100%;
    background: #000;
}

.excerpt p a:hover {
    background-color: #000;
    color: #fff;
}

.button {
    background-color: #090b44;
    color: #c0c0ce;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
    padding: 18px 30px;
    font-size: 12px;
    float: right;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.5s;
}

.button:hover {
    background-color: #b0747a;
    color: #fff;
}

.quote {
    background-color: #090b44;
    color: #c0c0ce;
    padding: 40px;
}

blockquote {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.quote span {
    margin-top: 30px;
    display: block;
    font-family: "Lora", serif;
    font-size: 18px;
}

/* FOOTER */

footer {
    background-color: #fcf6f2;
    padding: 0 30px;
    border-top: 1px solid rgb(235, 235, 235);
    padding-bottom: 50px;
}

footer .social-media {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 30px 0;
    margin-bottom: 80px;
}

footer .social-media a {
    color: #090b44;
    border: 1px solid rgb(235, 235, 235);
    padding: 10px 15px;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 3px;
    margin: 10px;
    display: inline-block;
    transition: all 0.5s;
}

footer .social-media a:hover {
    background-color: #b0747a;
    color: #fff;
    border-color: transparent;
}

footer .social-media a i {
    font-size: 17px;
    vertical-align: bottom;
    margin-right: 5px;
}

footer>div:nth-child(2) {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #090b44;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 3px;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: 7px;
    margin-bottom: 15px;
}

#subscribe,
#categories,
#recent-comments {
    max-width: 35%;
    min-width: 20%;
}

#subscribe input {
    border: 1px solid rgb(235, 235, 235);
    padding: 12px;
    outline: none;
    cursor: pointer;
}

#subscribe .button {
    font-size: 10px;
}

form {
    display: flex;
}

#categories a {
    display: block;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px solid #fce8e3;
    color: #090b44;
    padding-bottom: 7px;
    margin-bottom: 12px;
    transition: all 0.5s;
}

#categories a:hover {
    color: #d65c45;
}

#categories a span {
    background-color: #090b44;
    border-radius: 100%;
    color: #fff;
    float: right;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    transition: all 0.5s;
}

#categories a:hover span {
    background-color: #d65c45;
}

#recent-comments {
    color: #090b44;
    font-weight: 400;
    font-family: "Lora", serif;
    font-size: 15px;
}

#recent-comments li {
    border-bottom: 1px solid #fce8e3;
    padding-bottom: 7px;
    margin-bottom: 12px;
}

#recent-comments a {
    color: #090b44;
    transition: all 0.5s;
}

#recent-comments a:hover {
    color: #d65c45;
}

#footer-copyright {
    display: none;
    font-family: "Lora", serif;
    text-align: center;
    color: #090b44;
    border-top: 1px solid #fce8e3;
    padding-top: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    opacity: 0.5;
    font-family: "Jost", sans-serif;
}

@media (max-width: 1400px) {

    /* NAV */

    nav {
        padding-left: 40px;
    }

    /* MAIN */

    main {
        margin-left: 300px;
    }

    article {
        max-width: 800px;
    }
}

@media (max-width: 1200px) {

    /* HEADER & NAV */

    header {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        border-bottom: 1px solid #fce8e3;
    }

    nav {
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #copyright-social {
        display: none;
    }

    #logo {
        margin: 0;
        height: 50px;
        width: 50px;
        font-size: 30px;
    }

    #nav-button {
        display: block;
    }

    #navigation {
        width: 100%;
        order: 3;
        background-color: #090b44;
        padding: 20px;
        margin-top: 20px;
        display: none;
    }

    #navigation.show-nav {
        display: block;
    }

    nav ul a {
        color: #fff;
        transition: all 0.5s;
    }

    nav ul a:hover {
        color: #ffffff7e;
        border-bottom: 1px solid #ffffff1c;
    }

    .active {
        color: #ffffff7e;
        border-bottom: 1px solid #ffffff1c;
    }

    /* MAIN */

    main {
        margin-left: 0;
        padding-top: 100px;
    }

    article {
        max-width: none;
        padding: 0 100px;
    }

    .time-author,
    h2 a,
    .description,
    .excerpt {
        margin: 0 50px 20px;
    }

    .excerpt {
        margin-top: -50px;
    }

    /* FOOTER */

    footer {
        padding-bottom: 30px;
    }

    #footer-copyright {
        display: block;
    }

}

@media (max-width: 1000px) {

    /* MAIN */

    article {
        padding: 0 50px;
    }

    /* FOOTER */

    footer>div:nth-child(2) {
        display: block;
    }

    #subscribe,
    #categories,
    #recent-comments {
        max-width: 100%;
        margin-bottom: 50px;
    }

    #subscribe input:first-child{
        width: 100%;
    }
}

@media (max-width: 768px) {

    /* MAIN */

    main {
        padding: 0;
    }

    article {
        padding: 0 20px;
        margin-bottom: 120px;
    }

    .time-author,
    h2 a,
    .description,
    .excerpt {
        margin: 0 0 20px;
    }

    .excerpt {
        padding: 0;
        margin-top: 20px;
    }

    blockquote {
        font-size: 4vw;
    }

    h2 a {
        font-size: 8vw;
    }
}